$max-width: 100%;
$max-width-container: 1152px;
$min-width: 320px;
$padding-width: 10px;
$screen-ss: 320px;
$screen-xs: 480px;
$screen-sm: 769px;
$screen-md: 992px;
$screen-lg: 1260px;
//== Share color
$share-facebook: #3b5998;
$share-twitter: #1da1f2;
$share-google: #dc4e41;
$share-add-opinion: #fff;
$share-add-opinion-fill: #000;
$share-button: #2a9300;
$share-button-hover: #236800;
$button-send: #00cdf2;
$color-white: #FFF;
$color-black: #000;
$color-gray: #EEEEEE;
$color-gray-light: #A1A1A1;
$color-gray-dark: #353535;
$color-gray-darken: #1d1d1d;
$color-burgund: #c00000;
$color-red: #ff0000;