@import "logo";
@import "menu";

.section-header {
  display: flex;
  align-items: center;

  @include breakpoint(320px) {
    min-height: 300px;
  }

  @include breakpoint(sm) {
    min-height: 450px;
  }

  @include breakpoint(lg) {
    min-height: 550px;
  }
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  margin-top: 40px;
  will-change: transform;
  transition: background-color .2s ease-in;

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $screen-md;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.header-top {
    background: none;
  }
}

.sticky {
  transform: translateY(-40px);
  background-color: $color-white;
  box-shadow: 0px -9px 26px 6px rgba(0, 0, 0, 0.2);
}

.header-slogan {
  position: relative;
  margin-top: 70px;

  h1 {
    font-family: 'Rubik', sans-serif;
    @include font-size(25);
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    text-shadow: 0 0 15px $color-gray-darken;

    @include breakpoint(xs) {
      @include font-size(30);
    }

    @include breakpoint(sm) {
      @include font-size(55);
    }
  }

  &::before {
    content: '';
    position: absolute;
    border-bottom: 4px solid $color-red;
    left: 0;
    right: 0;
    width: 150px;
    bottom: -5px;
    margin: 0 auto;

    @include breakpoint(xs) {
      bottom: -10px;
      width: 250px;
    }
  }
}

.header-keywords {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: $color-gray;
  text-shadow: 0 0 2px $color-black;
  text-transform: uppercase;
  @include font-size(16);

  ul {
    padding: 5px 0 2px 0;
  }

  li {
    display: inline-block;
    vertical-align: bottom;

    &:not(:first-child)::before {
      content: "\2022";
      margin-left: 5px;
      padding-right: 7px;
    }

    &:first-child {
      padding-left: 5px;
    }

    &:last-child {
      padding-right: 5px;
    }
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    z-index: -1;
    height: 100%;
  }
}

.parallax {
  position: relative;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../images/parallax/images.jpg');

  @include breakpoint(900px) {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 40%);
    z-index: 0;
  }
}