.section_description {
  ul {
    margin-top: 10px;
    margin-left: 15px;
  }

  li {
    &::before {
      content: "\2022";
      color: $color-burgund;
      font-weight: bold;
      display: inline-block;
      width: 15px;
      margin-left: -15px;
    }
  }

  .phone,
  .mail {
    a {
      text-decoration: none;
      color: $color-gray-darken;

      span {
        border-bottom: 1px solid $color-gray-darken;

        &:hover {
          border-bottom: none;
        }
      }
    }

    margin-bottom: 5px;

    svg {
      fill: $color-gray-darken;
      width: 20px;
      height: 20px;
    }
  }

  .contact-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include breakpoint(xs) {
      width: 50%;
    }

    @include breakpoint(sm) {
      width: 35%;
    }

    @include breakpoint(md) {
      width: 30%;
    }

    @include breakpoint(lg) {
      width: 27%;
    }

    line-height: 1.5;
    margin-top: 20px;

    a {
      color: $color-gray-light;

      &:hover {
        color: $color-white;
      }
    }

    .phone,
    .mail {
      margin: 0;
    }
  }
}

section {
  padding: 10px 0 40px;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   bottom: -10px;
  //   z-index: 2;
  //   box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
  // }

  @include breakpoint(xs) {
    padding: 20px 0 60px;
  }

  @include breakpoint(md) {
    padding: 40px 0 80px;
  }

  &:nth-child(1) {
    background-color: $color-white;
    border-bottom: 1px solid lighten($color-gray-light, 15%);

    h2 {
      color: $color-black;
    }
  }

  &:nth-child(2) {
    h2 {
      color: $color-black;
    }

    background-color: $color-gray;
    background-image: url("../images/cog.png");
    background-position: 90% bottom;
    background-repeat: no-repeat;
  }

  &:nth-child(3) {
    background-color: $color-gray-darken;
    color: $color-gray-light;
  }
}

// section[id] {
//   padding-top: 90px;
//   .container {
//     margin-top: -10px;
//   }
// }